@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .container {
    @apply mx-auto;
  }

  section.about p {
    @apply mb-5 font-light text-base/[155%] lg:text-lg/[150%];
  }

  div.divider {
    @apply h-1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100rem;
  }

  section.about p {
    @apply max-w-[75%]
  }
}

:root {
  --header-height: 96px;

  --primary-1: #FFFFFF;
  --primary-2: #D9C7FF;
  --primary-3: #B79FFF;
  --primary-4: #A576FF;
  --primary-5: #4B3F8E;
  --primary-6: #211742;
  --primary-7: #160B30;
  --primary-8: #0F081F;
  --primary-9: #09050F;
  --primary-10: #05020B;

  --neutral-1: #FFFFFF;
  --neutral-3: #F7F2FF;
  --neutral-5: #DDD2F1;
}

.dark {
  --header-height: 96px;

  --primary-1: #1C162B;
  --primary-2: #211742;
  --primary-3: #30205A;
  --primary-4: #4B3F8E;
  --primary-5: #5D33AC;
  --primary-6: #7A46E8;
  --primary-7: #A576FF;
  --primary-8: #B79FFF;
  --primary-9: #D9C7FF;
  --primary-10: #EFE4FA;

  --neutral-1: #000000;
  --neutral-3: #1F1F1F;
  --neutral-5: #202020ff;
}

@theme {
  --font-primary: var(--font-dm-sans);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);
  --color-primary-7: var(--primary-7);
  --color-primary-8: var(--primary-8);
  --color-primary-9: var(--primary-9);
  --color-primary-10: var(--primary-10);

  --color-neutral-1: var(--neutral-1);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-5: var(--neutral-5);
}

@prefers-color-scheme body {
  font-family: "DM Sans", Arial;
}

* {
  font-family: "DM Sans", Arial;
}

body {
  background: var(--neutral-1);
  color: var(--primary-10);
}

form button{
  border: 1px solid var(--primary-3) !important;
}

div.post-container .post-content img{
  @apply rounded-xl;
}

/* 
header {
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.28);
} */
